{
  "printWidth": 140,
  "singleQuote": true,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["*.component.html"],
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "parser": "html"
      }
    }
  ]
}
