@import 'tailwindcss';

:root {
  --gradient-primary: linear-gradient(135deg, #dacefb, #966ff3);
  --gradient-secondary: linear-gradient(135deg, #f8e4d0, #e27d26);
  --gradient-tertiary: linear-gradient(135deg, #dcf4e9, #74c898);
}
