/* You can add global styles to this file, and also import other style files */

.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.f0 {
  font-size: 2rem;
}

@media (min-width: 520px) {
  .f0 {
    font-size: 4rem;
  }
}

body {
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.card {
  background-color: #263238 !important;
  transition-duration: 0.3s;
}
.card:hover {
  transition-duration: 0.4s;
  background-color: #495057 !important;
}

.heading-line {
  line-height: 1;
  display: block;
  position: relative;
  text-align: center;
}

.heading-line::before {
  line-height: 1;
  display: block;
  position: absolute;
  color: #fff;
  pointer-events: none;
  width: 100%;
}

.heading-line-gradient {
  -webkit-text-fill-color: transparent;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/* 1st heading gradient */
@keyframes first_heading_gradient {
  0%,
  16.667% {
    opacity: 1;
  }

  33.333%,
  83.333% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* 1st heading white text */
@keyframes first_heading_white_text {
  0%,
  16.667% {
    opacity: 0;
  }

  25%,
  91.667% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes second_heading_gradient {
  0%,
  16.667% {
    opacity: 0;
  }

  33.333%,
  50% {
    opacity: 1;
  }

  66.667%,
  100% {
    opacity: 0;
  }
}

@keyframes second_heading_white_text {
  0%,
  25% {
    opacity: 1;
  }

  33.333%,
  50% {
    opacity: 0;
  }

  58.333%,
  100% {
    opacity: 1;
  }
}

@keyframes third_heading_gradient {
  0%,
  50% {
    opacity: 0;
  }

  66.667%,
  83.333% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes third_heading_white_text {
  0%,
  58.333% {
    opacity: 1;
  }

  66.667%,
  83.333% {
    opacity: 0;
  }

  91.667%,
  100% {
    opacity: 1;
  }
}

.heading-line-first > .heading-line-gradient {
  background-image: linear-gradient(to left, #dacefb, #966ff3);
  animation: first_heading_gradient 8s infinite;
}

.heading-line-first::before {
  content: 'dfx-bootstrap-icons';
  animation: first_heading_white_text 8s infinite;
}

.heading-line-second > .heading-line-gradient {
  background-image: linear-gradient(to left, #f8e4d0, #e27d26);
  animation: second_heading_gradient 8s infinite;
}

.heading-line-second::before {
  content: 'dfx-bootstrap-table';
  animation: second_heading_white_text 8s infinite;
}

.heading-line-third > .heading-line-gradient {
  background-image: linear-gradient(to left, #dcf4e9, #74c898);
  animation: third_heading_gradient 8s infinite;
}

.heading-line-third::before {
  content: 'dfx-qrcode';
  animation: third_heading_white_text 8s infinite;
}
