name: release dfx-openapi

on:
  push:
    tags:
      - 'dfx-openapi*'

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: setup node and pnpm
        uses: dafnik/setup-node-pnpm@v4
        with:
          install: true

      - name: test dfx-openapi
        run: pnpm exec nx test dfx-openapi --configuration=ci --coverageReporters=cobertura

      - name: setup coverage report
        uses: ./.github/actions/setup-coverage-report
        with:
          path: coverage/libs/dfx-openapi/cobertura-coverage.xml

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: setup node and pnpm
        uses: dafnik/setup-node-pnpm@v4
        with:
          install: true

      - name: build dfx-openapi
        run: pnpm exec nx build dfx-openapi

      - name: zip dfx-openapi
        run: |
          cd ./dist/libs/
          zip -r "dfx-openapi.zip" ./dfx-openapi
          cd -

      - uses: actions/upload-artifact@v4
        name: create dfx-openapi artifact
        with:
          name: dfx-openapi
          path: ./dist/libs/dfx-openapi.zip
          retention-days: 1

  release-github:
    name: Release zip to github releases
    needs: [build, test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: setup node and pnpm
        uses: dafnik/setup-node-pnpm@v4
        with:
          install: true

      - uses: actions/download-artifact@v5
        with:
          name: dfx-openapi
          path: ./dist

      - name: get dfx-openapi version
        id: get-version
        shell: bash
        run: echo "VERSION=$(node -p "require('./libs/dfx-openapi/package.json').version")" >> $GITHUB_OUTPUT

      - name: set to versioned zip dfx-openapi-v${{ steps.get-version.outputs.VERSION }}.zip
        shell: bash
        run: |
          mkdir releases
          cp "./dist/dfx-openapi.zip" "./releases/dfx-openapi-v${{ steps.get-version.outputs.VERSION }}.zip"

      - name: releases lookup
        run: |
          cd releases
          ls -la
          du -hs
          cd -

      - name: get only latest changelog
        run: |
          ./tools/scripts/extractLatestVersionChangelog.sh ./libs/dfx-openapi/CHANGELOG.md
          cat RELEASE_CHANGELOG.md

      - name: create dfx-openapi-v${{ steps.get-version.outputs.VERSION }} release
        uses: softprops/action-gh-release@v2.5.0
        with:
          body_path: ./RELEASE_CHANGELOG.md
          files: ./releases/dfx-openapi-v${{ steps.get-version.outputs.VERSION }}.zip

  release-npm:
    name: Release to npm registry
    needs: [build, test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: setup node and pnpm
        uses: dafnik/setup-node-pnpm@v4

      - uses: actions/download-artifact@v5
        with:
          name: dfx-openapi
          path: ./dist

      - name: unzip
        shell: bash
        run: |
          cd dist
          unzip dfx-openapi.zip
          cd -

      - name: dist lookup
        shell: bash
        run: |
          cd dist/dfx-openapi
          ls -la
          du -hs
          cd -

      - name: publish to npm registry
        run: |
          cd dist/dfx-openapi/
          npm publish
