name: release dfts-helper

on:
  push:
    tags:
      - 'dfts-helper*'

permissions:
  id-token: write # Required for OIDC
  contents: write # Required for GitHub release action

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: setup node and pnpm
        uses: dafnik/setup-node-pnpm@v5
        with:
          install: true

      - name: test dfts-helper
        run: pnpm exec nx test dfts-helper --configuration=ci --coverageReporters=cobertura

      - name: setup coverage report
        uses: ./.github/actions/setup-coverage-report
        with:
          path: coverage/libs/dfts-helper/cobertura-coverage.xml

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: setup node and pnpm
        uses: dafnik/setup-node-pnpm@v5
        with:
          install: true

      - name: build dfts-helper
        run: pnpm exec nx build dfts-helper

      - name: zip dfts-helper
        run: |
          cd ./dist/libs/
          zip -r "dfts-helper.zip" ./dfts-helper
          cd -

      - uses: actions/upload-artifact@v5
        name: create dfts-helper artifact
        with:
          name: dfts-helper
          path: ./dist/libs/dfts-helper.zip
          retention-days: 1

  release-github:
    name: Release zip to github releases
    needs: [build, test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/download-artifact@v6
        with:
          name: dfts-helper
          path: ./dist

      - name: get dfts-helper version
        id: get-version
        shell: bash
        run: echo "VERSION=$(node -p "require('./libs/dfts-helper/package.json').version")" >> $GITHUB_OUTPUT

      - name: set to versioned zip dfts-helper-v${{ steps.get-version.outputs.VERSION }}.zip
        shell: bash
        run: |
          mkdir releases
          cp "./dist/dfts-helper.zip" "./releases/dfts-helper-v${{ steps.get-version.outputs.VERSION }}.zip"

      - name: releases lookup
        run: |
          cd releases
          ls -la
          du -hs
          cd -

      - name: get only latest changelog
        run: |
          ./tools/scripts/extractLatestVersionChangelog.sh ./libs/dfts-helper/CHANGELOG.md
          cat RELEASE_CHANGELOG.md

      - name: create dfts-helper-v${{ steps.get-version.outputs.VERSION }} release
        uses: softprops/action-gh-release@v2.5.0
        with:
          body_path: ./RELEASE_CHANGELOG.md
          files: ./releases/dfts-helper-v${{ steps.get-version.outputs.VERSION }}.zip

  release-npm:
    name: Release to npm registry
    needs: [build, test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          registry-url: 'https://registry.npmjs.org'
          node-version: '24'

      - uses: actions/download-artifact@v6
        with:
          name: dfts-helper
          path: ./dist

      - name: unzip
        shell: bash
        run: |
          cd dist
          unzip dfts-helper.zip
          cd -

      - name: dist lookup
        shell: bash
        run: |
          cd dist/dfts-helper
          ls -la
          du -hs
          cd -

      - name: publish to npm registry
        env:
          NPM_CONFIG_PROVENANCE: true
        run: |
          cd dist/dfts-helper/
          npm publish
