name: release dfx-helper

on:
  push:
    tags:
      - 'dfx-helper*'

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: setup node and pnpm
        uses: dafnik/setup-node-pnpm@v4
        with:
          install: true

      - name: test dfx-helper
        run: pnpm exec nx test dfx-helper --configuration=ci --coverageReporters=cobertura

      - name: setup coverage report
        uses: ./.github/actions/setup-coverage-report
        with:
          path: coverage/libs/dfx-helper/cobertura-coverage.xml

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: setup node and pnpm
        uses: dafnik/setup-node-pnpm@v4
        with:
          install: true

      - name: build dfx-helper
        run: pnpm exec nx build dfx-helper

      - name: zip dfx-helper
        run: |
          cd ./dist/libs/
          zip -r "dfx-helper.zip" ./dfx-helper
          cd -

      - uses: actions/upload-artifact@v4
        name: create dfx-helper artifact
        with:
          name: dfx-helper
          path: ./dist/libs/dfx-helper.zip
          retention-days: 1

  release-github:
    name: Release zip to github releases
    needs: [build, test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: setup node and pnpm
        uses: dafnik/setup-node-pnpm@v4
        with:
          install: true

      - uses: actions/download-artifact@v5
        with:
          name: dfx-helper
          path: ./dist

      - name: get dfx-helper version
        id: get-version
        shell: bash
        run: echo "VERSION=$(node -p "require('./libs/dfx-helper/package.json').version")" >> $GITHUB_OUTPUT

      - name: set to versioned zip dfx-helper-v${{ steps.get-version.outputs.VERSION }}.zip
        shell: bash
        run: |
          mkdir releases
          cp "./dist/dfx-helper.zip" "./releases/dfx-helper-v${{ steps.get-version.outputs.VERSION }}.zip"

      - name: releases lookup
        run: |
          cd releases
          ls -la
          du -hs
          cd -

      - name: get only latest changelog
        run: |
          ./tools/scripts/extractLatestVersionChangelog.sh ./libs/dfx-helper/CHANGELOG.md
          cat RELEASE_CHANGELOG.md

      - name: create dfx-helper-v${{ steps.get-version.outputs.VERSION }} release
        uses: softprops/action-gh-release@v2.4.1
        with:
          body_path: ./RELEASE_CHANGELOG.md
          files: ./releases/dfx-helper-v${{ steps.get-version.outputs.VERSION }}.zip

  release-npm:
    name: Release to npm registry
    needs: [build, test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: setup node and pnpm
        uses: dafnik/setup-node-pnpm@v4

      - uses: actions/download-artifact@v5
        with:
          name: dfx-helper
          path: ./dist

      - name: unzip
        shell: bash
        run: |
          cd dist
          unzip dfx-helper.zip
          cd -

      - name: dist lookup
        shell: bash
        run: |
          cd dist/dfx-helper
          ls -la
          du -hs
          cd -

      - name: publish to npm registry
        run: |
          cd dist/dfx-helper/
          npm publish
